<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= @user.id %><br>
<%= @user.email %><br>
<%= @user.name %>
<%= attachment_image_tag @user, :profile_image, :fill, 100,100, format: "jpeg" %>
<% if @user.id == current_user.id %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
<% end %>